<div class="container-fluid">
	<div class="row">
		<!-- Sidebar -->
		<Sidebar
			:current-user-image-url="currentUserImageUrl"
			:current-username="currentUsername"
			:chats="chats"
			:loading="loading"
			:error="error"
			:selected-chat-id="selectedChatId"
			:chat-image-urls="chatImageUrls"
			@open-profile="showProfileModal = true"
			@new-chat="openNewChatModal"
			@logout="logout"
			@user-image-error="handleUserImageError"
			@select-chat="selectChat"
			@image-error="handleImageError"
		/>

		<!-- Main conversation area -->
		<main class="col-md-8 col-lg-9 ms-sm-auto px-md-4">
			<ConversationSection
				:selected-chat-id="selectedChatId"
				:selected-chat="selectedChat"
				:current-username="currentUsername"
				:messages="messages"
				:loading-messages="loadingMessages"
				:messages-error="messagesError"
				:last-read-message-id="lastReadMessageId"
				:new-message="newMessage"
				:sending-message="sendingMessage"
				:pending-message="pendingMessage"
				:replying-to-message="replyingToMessage"
				:selected-message-image="selectedMessageImage"
				:message-image-preview-url="messageImagePreviewUrl"
				:deleting-message="deletingMessage"
				:chat-image-urls="chatImageUrls"
				:message-image-urls="messageImageUrls"
				:member-image-urls="memberImageUrls"
				:chat-members="chatMembers"
				:loading-chat-members="loadingChatMembers"
				:has-new-messages="hasNewMessages"
				:new-message-count="newMessageCount"
				:scroll-threshold="scrollThreshold"
				ref="conversationSection"
				@open-new-chat-modal="openNewChatModal"
				@send-message="sendMessage"
				@toggle-message-like="toggleMessageLike"
				@start-reply="startReply"
				@clear-reply="clearReply"
				@open-forward-modal="openForwardModal"
				@confirm-delete-message="confirmDeleteMessage"
				@retry-load-messages="retryLoadMessages"
				@update:new-message="newMessage = $event"
				@open-image-modal="openImageModal"
				@clear-message-image-selection="clearMessageImageSelection"
				@open-rename-group-modal="openRenameGroupModal"
				@open-add-to-group-modal="openAddToGroupModal"
				@open-set-group-photo-modal="openSetGroupPhotoModal"
				@leave-group="leaveGroup"
				@get-group-members="getGroupMembers"
				@handle-image-error="handleImageError"
				@handle-message-image-error="handleMessageImageError"
				@handle-reply-image-error="handleReplyImageError"
				@handle-member-image-error="handleMemberImageError"
				@scroll-position-changed="handleScrollPositionChanged"
				@scroll-to-new-messages="scrollToNewMessages"
			/>
		</main>
	</div>

	<CreateChatModal
		:show="showNewChatModal"
		:users="users"
		:filteredUsers="filteredUsers"
		:selectedUsers="selectedUsers"
		:loadingUsers="loadingUsers"
		:newChatName="newChatName"
		:selectedNewChatImage="selectedNewChatImage"
		:newChatImagePreviewUrl="newChatImagePreviewUrl"
		:initialMessage="initialMessage"
		:newChatError="newChatError"
		:newChatLoading="newChatLoading"
		:userImageUrls="userImageUrls"
		:canCreateChat="canCreateChat"
		v-model:userSearchQuery="userSearchQuery"
		@close="closeNewChatModal"
		@filter-users="handleFilterUsers"
		@update:userSearchQuery="userSearchQuery = $event"
		@get-users="getUsers"
		@toggle-user-selection="toggleUserSelection"
		@remove-user-selection="removeUserSelection"
		@handle-users-image-error="handleUsersImageError"
		@clear-new-chat-image-selection="clearNewChatImageSelection"
		@open-image-modal="openNewChatImageModal"
		@update:newChatName="newChatName = $event"
		@update:initialMessage="initialMessage = $event"
		@create-new-chat="createChat"
	/>

	<NewChatImageModal
		:show="showNewChatImageModal"
		@close="closeNewChatImageModal"
		@select="handleNewChatImageSelect"
	/>

	<ProfileModal
		:show="showProfileModal"
		:current-user-image-url="currentUserImageUrl"
		:current-username="currentUsername"
		:loading="profileLoading"
		:error="profileError"
		@close="closeProfileModal"
		@update-profile="updateProfile"
	/>

	<ForwardMessageModal
		:show="showForwardModal"
		:message="forwardingMessage"
		:messageImageUrls="messageImageUrls"
		:chatImageUrls="chatImageUrls"
		:groupChats="forwardGroupChats"
		:userImageUrls="userImageUrls"
		:loadUsers="loadForwardUsers"
		:forwardMessage="forwardMessage"
		@close="closeForwardModal"
		@handle-users-image-error="handleUsersImageError"
		@load-user-images="loadUserImagesForForward"
	/>

	<RenameGroupModal
		:show="showRenameGroupModal"
		:current-name="selectedChat?.name || ''"
		:loading="setGroupNameLoading"
		:error="setGroupNameError"
		@close="closeRenameGroupModal"
		@rename="setGroupName"
	/>

	<AddToGroupModal
		:show="showAddToGroupModal"
		:loading="addToGroupLoading"
		:error="addToGroupError"
		@close="closeAddToGroupModal"
		@add-member="addToGroup"
	/>

	<ImageSelectionModal
		:show="showImageModal"
		@close="closeImageModal"
		@select="handleImageSelect"
	/>

	<SetGroupPhotoModal
		:show="showSetGroupPhotoModal"
		:current-photo-url="selectedChat && chatImageUrls[selectedChat.id] ? chatImageUrls[selectedChat.id] : null"
		:group-name="selectedChat ? getChatName(selectedChat) : ''"
		:loading="setGroupPhotoLoading"
		:error="setGroupPhotoError"
		@close="closeSetGroupPhotoModal"
		@set-photo="setGroupPhoto"
	/>
</div>
